.Rproj.user/
.Rhistory
.RData
.DS_Store
day1_intro_bayes/day1_intro_bayes-figure/
day1_model_comparison/day1_model_comparison-cache/
day1_model_comparison/day1_model_comparison-figure/
.Rproj.user
.Rprofile